{#
/**
 * @file
 *Default theme for RTD Footer.
 */
#}

{{ attach_library('rtd_footer/rtd-footer') }}

<div id="mega-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 footer-left">

                {% if brand_logo %}

                    <p>
                        <img alt="Office of Knowledge Enterprise Development" src="{{ file_url(brand_logo['#uri']) }}"/>
                    </p>

                {% else %}

                    <p>
                        <img alt="Office of Knowledge Enterprise Development" src="/modules/custom/rtd_footer/images/oked_web_logo.png"/>
                    </p>

                {% endif %}

                <div id="address-footer">

                    {% if address %}

                        {{ address|raw }}

                    {% else %}

                        <h1>Research</h1>

                        <div class="address">21 East 6th Street, Suite 126A</div>

                        <div class="address">Tempe, Arizona 85281</div>

                        <br/>

                        <div class="address">P.O. Box 878409</div>

                        <div class="address">Tempe, Arizona 85287-8409</div>

                    {% endif %}

                </div>


                {% if phone %}

                    <div class="phone">Phone: {{ phone }}</div>

                {% endif %}

                <ul class="social-media">

                    {% if facebook %}

                        <li>
                            <a href="http://{{ facebook }}" target="_blank" title="Facebook">
                                <span style="display: none">Open </span>
                                <span class="sr-only">Facebook</span>
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                <span style="display: none"> in a new window.</span>
                            </a>
                        </li>

                    {% endif %}

                    {% if twitter %}

                        <li>
                            <a href="http://{{ twitter }}" target="_blank" title="Twitter">
                                <span style="display: none">Open </span>
                                <span class="sr-only">Twitter</span>
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                <span style="display: none"> in a new window.</span>
                            </a>
                        </li>

                    {% endif %}

                    {% if instagram %}

                        <li>
                            <a href="http://{{ instagram }}" target="_blank" title="instagram">
                                <span style="display: none">Open </span>
                                <span class="sr-only">Instagram</span>
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                <span style="display: none"> in a new window.</span>
                            </a>
                        </li>

                    {% endif %}

                </ul>

            </div>

            <div class="col-md-5 col-sm-12 footer-center">

                <div class="footer-wrap">

                    {% if middle_column %}

                        {{ middle_column|raw }}

                    {% endif %}

                </div>

            </div>

            {% if menu == 1 %}

                <div class="col-md-3 col-sm-12 footer-right">
                    <ul class="footer_menu">

                        {% for key,value in menu_items_var %}

                            <li>
                                <a href="{{ value.path }}">{{ value.title }}</a>
                            </li>

                        {% endfor %}

                    </ul>
                </div>

            {% endif %}

        </div>
    </div>
</div>

{#
  Invoke the custom macro defined above. If classes were provided, use them.
  This allows the template to be extended without having to also duplicate the
  code above. @see http://twig.sensiolabs.org/doc/tags/macro.html
#}


